.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.button {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #155a9c;
}

.comic {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comic img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comicDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;
}

.favoritos {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #fafafa;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.comic {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comic:hover {
    transform: scale(1.025);
    transition: transform 0.5s;
}

.characterGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.characterImage {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cargar-comics {
    margin-top: 20px;
    text-align: center;
}


